*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.outerbox{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top left, #00416A,#E4E5E6);
}
.innerbox{
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  padding: 20px 40px;
  border-radius: 8px;
  
  background: linear-gradient(to top right,#ffffffff,#ffffff33);
  backdrop-filter: blur(8px);
  box-shadow: 2px 5px #888888;
  z-index: 2;
}
h1{
  font-size: 2.5rem;
  color: #212121;
}
header p {
  font-size: 0.9rem;

}
form{
  margin: 20px 0;
}
.Form-Head{
  display: block;
  font-weight: bold;
  font-size: larger;
  margin-top: 10px;
}
form input{
  width: 100%;
  padding: 5px;
  border: 2px solid rgb(172, 179, 198);
  border-radius: 5px;
}
.btn{
  background-color: rgb(42, 141, 203);
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  color: white;
  font-size: medium;
  cursor: pointer;
}
footer{
  text-align: center;
}
footer a:hover{
  color: #00416A;
  font-size: large;
}
.c{
  width: 200px;
  height: 200px;
  background: linear-gradient(#2980B9,#6DD5FA);
  border-radius: 100px;
  position: absolute;
  top: 80px;
  left: 70px;
}
.c1{
  width: 200px;
  height: 200px;
  background: linear-gradient(#2980B9,#6DD5FA);
  border-radius: 100px;
  position: absolute;
  bottom: 150px;
  right: 70px;
}
